<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732700410796-dit5oju14v3vm6gnk73hen3qv4a6r0bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732700410796-dit5oju14v3vm6gnk73hen3qv4a6r0bs</string>
	<key>API_KEY</key>
	<string>AIzaSyA83jJcoLCEFsfJppO0YI1jo2wwVUi7z8U</string>
	<key>GCM_SENDER_ID</key>
	<string>732700410796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sangam</string>
	<key>PROJECT_ID</key>
	<string>sangam-fff95</string>
	<key>STORAGE_BUCKET</key>
	<string>sangam-fff95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732700410796:ios:6bc567d9f8c2f31f3bf009</string>
</dict>
</plist>